include README.md
include LICENSE.txt
include VERSION
include requirements.txt
include CITATION.bib
include pyproject.toml
# Cython files
recursive-include src *.pyx
recursive-include src *.pxd
# Cython type hints
recursive-include src *.pyi
# C extensions
recursive-include src *.hpp
recursive-include src *.cpp
